@charset "utf-8";

$primary: hsl(171, 100%, 41%);
$body-background-color: $primary;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 18px 0px;
$box-padding: 2em;

@import "../node_modules/bulma/bulma.sass";

.boxed {
    max-width: 90%;
    width: 400px;
}