@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600&display=swap');

$fira-sans: 'Fira Sans',
sans-serif;
$gradient: linear-gradient(45deg, #4fe3e8 0%, #1775f2 100%);

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #1775f2;
    background: $gradient;
    min-height: 100vh;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: $fira-sans;
    font-weight: 300;
    font-size: 16px;
    min-height: 100vh;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 840px 635px;
    background-position: center calc(3em - 13px);
}

.main-content {
    min-height: calc(100vh - 5.15em);
}

.file-form {
    padding: 3em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.file-form__container {
    margin: auto;
    width: 90vw;
    height: 90vw;
    max-height: 420px;
    max-width: 420px;
    min-height: 320px;
    min-width: 320px;
    padding: 2em;
    box-sizing: border-box;
}

.file-form__title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;

    img {
        width: 360px;
        max-width: 80%;
    }
}

.file-form__form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
}

.file-form__label {
    position: relative;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background: $gradient;
    border-radius: 24px;
    padding: 8px 6px;
    width: 170px;
    margin-bottom: 1em;
}

.file-form__pointer {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.file-form__input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.file-form__icon {
    height: 32px;
}

.file-form__name {
    margin-left: 4px;
    padding-right: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-form__select {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        font-weight: 300;
        border: 2px solid #7b7b7b;
        border-radius: 6px;
        box-shadow: none;
        height: 2.25em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-bottom: calc(0.375em - 1px);
        padding-left: calc(0.625em - 1px);
        padding-right: calc(2.5em - 1px);
        padding-top: calc(0.375em - 1px);
        position: relative;
        color: #363636;
        cursor: pointer;
        display: block;
        max-width: 100%;
        outline: none;
    }
}

.file-form__select::after {
    border: 2px solid #7b7b7b;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
    border-radius: 2px;
    border-right: 0;
    right: 1.125em;
    z-index: 4;
    right: 1.125em;
}



.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #46d4e9;
    border: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.file-form__success {
    text-align: center;
    color: #32aaed;
    animation-duration: 500ms !important;

    .big {
        display: block;
        margin-bottom: 0.3em;
        font-size: 2.2em;
    }

    .small {
        line-height: 1.2em;
    }
}

.file-form__try-again {
    margin-top: 1em;
}

.file-form__results {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
}

.file-form__table {
    padding: 2em 0;
    margin: 0 auto;
    text-shadow: 1px 1px 0 #50aac9;

    th,
    td {
        padding: 0.75em 0.4em;
        background-image: linear-gradient(to right, #fff 18%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 10px 2px;
        background-repeat: repeat-x;
    }

    tr:last-child th,
    tr:last-child td {
        border-bottom: 0;
    }

    th {
        font-weight: 600;
        text-align: left;
        padding-right: 1em;
    }

    td {
        text-align: right;
        padding-left: 1em;
    }

}

footer {
    color: #fff;
    text-align: center;
    margin: 2em auto 1.5em auto;
    width: 100%;
    line-height: 1.3em;

    span {
        white-space: nowrap;
    }

    p {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
    }
}



@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dissapear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 667px) {
    .file-form__container {
        h1 {
            margin-top: 10vw;
        }
    }

    .main-content {
        min-height: calc(100vh - 6.1em);
    }

    footer span {
        display: block;
    }
}

@media(max-width: 467px) {
    body {
        background-size: 200% auto;
    }
    // .file-form__container {
    //     background: #fff;
    //     border-radius: 50%;
    // }
}

@media (max-width: 400px) {
    .file-form__container {

        .file-form__title,
        .file-form__label,
        .file-form__select {
            margin-bottom: 2vh;
        }
    }
}

@media(max-width: 355px) {
    body {
        background-size: 640px 484px;
    }
}

.hidden {
    display: none !important;
    opacity: 0;
}

.invisible {
    visibility: hidden;
}